<template>
  <div class="app">
    <v-app>
      <pro-nav-bar v-if="modeArtistan" @changeToStagiaire="modeArtistan = false"/>
      <nav-bar v-else @changeToArtistan="modeArtistan = true"/>
      <router-view class="content"/>
      <myFooter/>
    </v-app>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar";
import ProNavBar from "@/components/ProNavBar";
import myFooter from "@/components/myFooter";

export default {
  name: "App",
  components: {
    NavBar,
    myFooter,
    ProNavBar
  },
  data() {
    return {
      modeArtistan: false
    };
  }
};
</script>
<style>
/*------------------------------------------------------------------
[GOOGLE API FONTS]
------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Questrial");
/*------------------------------------------------------------------
[GLOBAL STYLE FOR FONTS]
------------------------------------------------------------------*/
#app {
  /* font-family: 'Questrial'; */
}
a {
  text-decoration: none;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  letter-spacing: -1.5;
}
h2 {
  font-size: 36px;
  font-weight: lighter;
  letter-spacing: -0.5;
}

h3 {
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: normal;
}
h4 {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: normal;
}
h5 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: normal;
}
.content {
  margin-top: 42px;
}
</style>
