<template>
  <div>
    <v-layout column>
      <div class="subheading" id="full-image">
        <v-layout row wrap align-center class="spacer"></v-layout>
        <search-mini/>
      </div>
    </v-layout>
    <v-layout id="content" row>
      <v-container grid-list-lg>
        <v-layout row wrap>
          <v-flex xs12 class="display-1 my-5">
            <h1 class="font-weight-light" id="title">Réservez votre atelier</h1>
          </v-flex>
          <v-flex v-for="atelier in ateliers" :key="atelier.id" xs12 md6 lg4>
            <atelier-card
              :atelier_title="atelier.atelier_title"
              :atelier_city="atelier.atelier_city"
              :atelier_price="atelier.atelier_price"
              :atelier_nb_hours="atelier.atelier_nb_hours"
              :atelier_description="atelier.atelier_description"
            />
          </v-flex>
        </v-layout>
      </v-container>
    </v-layout>
  </div>
</template>

<script>
import SearchMini from "@/components/SearchMini";

import AtelierCard from "@/components/AtelierCard";
import axios from "axios";
export default {
  name: "accueil",
  components: { SearchMini, AtelierCard },

  data() {
    return {
      // Nous allons stocker les données dans cette list atelier
      ateliers: null
    };
  },

  mounted() {
    axios
      .get("http://localhost:8000/api/ateliers")
      .then(res => (this.ateliers = res.data.results))
      .catch(console.error);
  }
};
</script>


<style scoped>
#full-image {
  width: auto;
  background-image: url("../assets/handcraft.jpg");
  height: 95vh;
  background-size: cover;
}
@media screen and (min-width: 960px) {
  .spacer {
    height: 70vh;
  }
}
@media screen and (max-width: 961px) {
  .spacer {
    height: 25vh;
  }
}

#title {
  line-height: 55px;
}
</style>
