<template>
  <div>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex v-for="post in posts" :key="post.id" xs12 sm6 md4>
          <ArtisansCard
            :user_firstname="post.user_firstname"
            
            class="artisans-card"
          />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import ArtisansCard from "@/components/ArtistansCard";
import axios from "axios";

export default {
  name: "artisans",
  components: {
    ArtisansCard
  },

  data() {
    return {
      // Nous allons stocker les données dans cette list post
      posts: null
    };
  },

  mounted() {
    // Récupération des données des atliers
    // Etape : Activer la base de données postgre
    // cd server => python3 manage.py runserver
    // cd client => npm run serve
    // Axios
    
    // récupération le "user_surname"
    axios
      .get("http://localhost:8000/api/users") // Récupérer les données sur le serveur au localhost du serveur back-end
      .then(
        res => (
          (this.posts = res.data.results), console.log("data: ", this.posts)
        )
      )
      .catch(err => {
        console.log("erreur : ", err);
      });
    
  }
};
</script>

<style scoped>
.artisans-card{
  padding: 16px;
}
</style>
