<template>
  <div>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex v-for="post in posts" :key="post.id" xs12 sm6 md4>
          <atelier-card
            :atelier_title="post.atelier_title"
            :atelier_city="post.atelier_city"
            :atelier_price="post.atelier_price"
            :atelier_nb_hours="post.atelier_nb_hours"
            :atelier_description="post.atelier_description"
            class="atelier-card"
          />
        </v-flex>
      </v-layout>
    </v-container>
    <!-- <div class="cards"> -->
    <!-- <v-container grid-list-lg text-xs-center> -->
    <!-- <v-layout row wrap> -->
    <!-- <div class="card"  :key="post.id"> -->
    <!-- <AtelierCard
            :atelier_title="post.atelier_title"
            :atelier_city="post.atelier_city"
            :atelier_price="post.atelier_price"
            :atelier_nb_hours="post.atelier_nb_hours"
            :atelier_description="post.atelier_description"
    />-->
    <!-- </div> -->
    <!-- </v-layout> -->
    <!-- </v-container> -->
    <!-- </div> -->
  </div>
</template>

<script>
import AtelierCard from "@/components/AtelierCard";
import axios from "axios";

export default {
  name: "ateliers",
  components: {
    AtelierCard
  },

  data() {
    return {
      // Nous allons stocker les données dans cette list post
      posts: null
    };
  },

  mounted() {
    // Récupération des données des atliers
    // Etape : Activer la base de données postgre
    // cd server => python3 manage.py runserver
    // cd client => npm run serve
    // Axios
    axios
      .get("http://localhost:8000/api/ateliers") // Récupérer les données sur le serveur au localhost du serveur back-end
      .then(
        res => (
          (this.posts = res.data.results), console.log("data: ", this.posts)
        )
      )
      .catch(err => {
        console.log("erreur : ", err);
      });
  }
};
</script>

<style scoped>
.atelier-card {
  padding: 16px;
}
</style>
