<template>
  <v-card>
    <v-img src="http://i.f1g.fr/media/ext/1900x1900/madame.lefigaro.fr/sites/default/files/img/2014/10/barack-obama.jpg" aspect-ratio="1"></v-img>
    
    <v-card-title primary-title>
      <h3 style="text-align:center; margin-top:20px" class="mb-6 font-weight-medium card-heading">{{user_firstname}}</h3>
    </v-card-title>
  </v-card>
</template>


<script>
export default {
  name: "artistans-card",
  props: {
    user_firstname: String,
  },
  data() {
    return {
      //
    };
  }
};
</script>

<style scoped>
.card-heading {
  width: 100%;
  min-height: 100px;
}


</style>
