<template>
  <v-card>
    <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="1.5"></v-img>
    <v-avatar class="card-avatar mx-4 white lighten-2 align-end" size="70">
      <img src="https://cdn.vuetifyjs.com/images/john.jpg" class="pa-1" alt="John">
    </v-avatar>
    <v-card-text class="ma-0 pb-0">
      <div class="primary--text font-weight-bold city-card">
        <v-icon color="primary">place</v-icon>
        {{atelier_city}}
      </div>
    </v-card-text>
    <v-card-title primary-title>
      <h3 class="mb-0 font-weight-medium card-heading">{{atelier_title}}</h3>
      <v-layout row class="justify-space-between mx-0 py-2">
        <!-- <div > -->
        <div class="primary--text subheading">
          <span class="font-weight-medium">{{atelier_nb_hours}}</span> heures
        </div>
        <div class="primary--text subheading">
          <span class="font-weight-medium">{{atelier_price}}</span> €/pers
        </div>
        <!-- </div> -->
      </v-layout>
    </v-card-title>
  </v-card>
</template>


<script>
export default {
  name: "card_atelier",
  props: {
    atelier_title: String,
    atelier_city: String,
    atelier_price: String,
    atelier_nb_hours: Number,
    atelier_description: String
  },
  data() {
    return {
      //
    };
  }
};
</script>

<style scoped>
.card-heading {
  width: 100%;
  min-height: 50px;
}
.city-card {
  margin-left: -5px;
}

.card-avatar {
  margin-top: -30px;
  position: absolute;
  right: 2%;
}

/* .city_hours {
  display: flex;
  justify-content: space-between;
} */
/* .subheading {
  margin-bottom: 15px;
}

.black--text {
  color: #000 !important;
  caret-color: #000 !important;
  margin-left: 30px;
}

.grey--text {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-right: 30px;
}
.avaterImg {
  margin-left: 180px;
  margin-bottom: 50px;
} */
</style>
