<template>
  <div class="text-xs-center">
    <v-dialog v-model="dialog" width="500">
      <v-btn slot="activator" color="white" flat class="ma-0 pa-0" dark>Connexion</v-btn>

      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Saisissez vos identifiants</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-form>
          <v-card-text>
            <v-alert :value="alertIdt" type="error" icon="warning" outline>Entrer un email valide.</v-alert>
            <v-text-field
              prepend-icon="person"
              name="login"
              label="Identifiant"
              type="text"
              v-model="identifiant"
            ></v-text-field>
            <v-alert
              :value="alertPwd"
              type="error"
              icon="warning"
              outline
            >Le mot de passe que vous avez entré est incorrect.</v-alert>
            <v-alert
              :value="alertPwdR"
              type="warning"
              icon="priority_high"
              outline
            >Un mot de passe est requis.</v-alert>
            <v-text-field
              id="password"
              prepend-icon="lock"
              name="password"
              label="Mot de passe"
              type="password"
              v-model="mdp"
            ></v-text-field>
            <p class="ml-2">
              Si vous n'avez pas encore de compte, veuillez vous
              <a>inscrire ici</a>
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn type="submit" color="primary" @click.prevent="connect()">Se connecter</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import NavBar from "./NavBar";

export default {
  name: "connection",
  data() {
    return {
      dialog: false,
      identifiant: "",
      mdp: "",
      user: null,
      alertIdt: false,
      alertPwd: false,
      alertPwdR: false
    };
  },

  methods: {
    async connect() {
      this.user = await axios.get(
        `http://localhost:8000/api/users/?search=${this.identifiant}`
      );
      if (this.user.data.results.length) {
        this.alertIdt = false;
        if (this.mdp) {
          this.alertPwdR = false;
          if (this.user.data.results[0].user_password === this.mdp) {
            this.alertPwd = false;
            this.dialog = false;
            this.$store.commit("connect");
            this.$store.commit("setUser", this.user.data.results[0]);
          } else {
            this.alertPwd = true;
          }
        } else {
          this.alertPwd = false;
          this.alertPwdR = true;
        }
      } else {
        this.alertIdt = true;
      }
    }
  }
};
</script>

<style>
</style>
