<template>
  <v-footer dark height="auto" absolute>
    <v-card class="flex fontnavbar" flat tile>
      <v-card-title class="primary">
        <v-btn v-for="link in links" :key="link.title" router :to="link.route" color="white" flat>
          <a href>{{ link.title }}</a>
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn
          v-for="icon in icons"
          :key="icon.name"
          :href="icon.href"
          target="_blank"
          class="mx-3"
          dark
          icon
        >
          <v-icon size="24px">{{ icon.name }}</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-actions class="blacky justify-center">&copy;2019 - MARKETPLACE</v-card-actions>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    name: "myFooter",
    links: [
      {
        title: "À propos",
        route: "/apropos"
      },
      {
        title: "Mentions Légales",
        route: "/mentionslegales"
      },
      {
        title: "CGU/CGV",
        route: "cgucgv"
      },
      {
        title: "Blog",
        route: "/blog"
      },
      {
        title: "Contact",
        route: "/contact"
      }
    ],
    icons: [
      {
        name: "fab fa-facebook",
        href: "https://www.facebook.com/"
      },
      {
        name: "fab fa-youtube-square",
        href: "https://www.youtube.com/"
      },
      {
        name: "fab fa-pinterest-square",
        href: "https://www.pinterest.fr/"
      }
    ]
  })
};
</script>

<style scoped>
a {
  color: white;
}

</style>
