<template>
  <v-toolbar dark flat app color="primary">
    <v-btn @click="clickMethodBackImage" flat color="white" class="display-1 font-weight-light hidden-sm-and-down ma-0 pa-0">LOGO</v-btn>
    <v-spacer></v-spacer>
    <v-toolbar-items class="align-center">
      <v-btn
        flat
        color="white"
        v-for="link in links"
        :key="link.title"
        router
        :to="link.route"
        :class="link.class + ' ma-0 pa-0'"
      >{{link.title}}</v-btn>
      <v-btn flat class="hidden-sm-and-down"> Devenir un artistan </v-btn>
      <div @click="changeToArtistan">
        <v-btn outline class="mr-3" small> Espace pro </v-btn>
      </div>
    </v-toolbar-items>
    <v-menu offset-y left :nudge-bottom="14" transition="slide-y-transition" v-if="connected">
      <v-avatar size="40" slot="activator">
        <img class="text-lg-center" src="@/assets/turtle.jpg">
      </v-avatar>
      <v-list>
        <v-list-tile v-for="item in items" :key="item.name" @click="$router.push(item.route)">
          <v-list-tile-content>
            <v-list-tile-title v-text="item.name" class="body-1"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="disconnect">
          <v-list-tile-content>
            <v-list-tile-title class="body-1" >Déconnexion</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
    <Connection v-else/>
  </v-toolbar>
</template>

<script>
import Connection from "./Connection";

export default {
  components: { Connection },
  name: "navbar",
  data() {
    return {
      links: [
        {
          title: "Ateliers",
          route: "/ateliers"
        },
        {
          title: "Artistans",
          route: "/artistans"
        },
        {
          title: "Blog",
          class: "hidden-sm-and-down"
        }
      ],
      items: [
        { name: "Mon profil", route: "/proprofil" },
        { name: "Mes réservations", route: "/proprofil" }
      ]
    };
  },
  computed: {
    connected() {
      return this.$store.state.connected;
    }
  },
  methods: {
    changeToArtistan() {
      if (this.$store.state.user.isArtistan && this.$store.state.connected) {
        this.$emit("changeToArtistan");
      }
    },
    disconnect() {
      this.$store.commit("disconnect");
    }, 

    clickMethodBackImage() {
      this.$router.push("accueil")
    }

  }
};
</script>

<style>
</style>
