<template>
  <v-toolbar flat app color="secondary">
    <v-btn flat color="blacky" class="display-1 font-weight-light hidden-sm-and-down ma-0 pa-0">LOGO</v-btn>
    <v-toolbar-items class="align-center">
      <v-btn
        flat
        color="blacky"
        v-for="link in links"
        :key="link.title"
        router
        :to="link.route"
        :class="link.class + ' ma-0 pa-0'"
      >{{link.title}}</v-btn>
    </v-toolbar-items>

    <v-spacer></v-spacer>
    <v-toolbar-items class="align-center">
      <div @click="$emit('changeToStagiaire')">
        <v-btn outline class="mr-3" color="blacky" small>Espace stagiaire</v-btn>
      </div>
    </v-toolbar-items>

    <v-menu offset-y left :nudge-bottom="14" transition="slide-y-transition" v-if="connected">
      <v-avatar size="40" slot="activator">
        <img class="text-lg-center" src="@/assets/turtle.jpg">
      </v-avatar>
      <v-list>
        <v-list-tile v-for="item in items" :key="item" flat>
          <v-list-tile-title>{{ item }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    <Connection v-else/>
  </v-toolbar>
</template>

<script>
import Connection from "./Connection";
export default {
  components: { Connection },
  name: "pronavbar",
  data() {
    return {
      links: [
        {
          title: "Ateliers",
          route: "/ateliers"
        },
        {
          title: "Artistans",
          route: "/artistans"
        },
        {
          title: "Blog",
          class: "hidden-sm-and-down"
        }
      ],
      items: ["Mon profil", "Mes réservations"]
    };
  },
  computed: {
    connected() {
      return this.$store.state.connected;
    }
  }
};
</script>

<style scoped>
.pro-nav-bar {
  background-color: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 1)
  );
}
</style>
