<template>
  <v-form @submit.prevent="search()">
    <v-container>
      <v-layout row wrap>
        <v-flex xs12 md3 lg3 class="search-field">
          <v-text-field label="Lieu" solo v-model="place"></v-text-field>
        </v-flex>
        <v-flex xs6 md3 lg3 class="search-field">
          <v-menu :close-on-content-click="true" lazy transition="scale-transition" full-width>
            <v-text-field
              slot="activator"
              v-model="computedDateFormatted"
              label="Date"
              append-icon="event"
              readonly
              solo
            ></v-text-field>
            <v-date-picker scrollable v-model="date" no-title locale="fr-fr"></v-date-picker>
          </v-menu>
        </v-flex>

        <v-flex xs6 md3 lg3 class="search-field">
          <v-select
            :items="categories"
            v-model="categorie"
            label="Catégorie"
            solo
            append-icon="keyboard_arrow_down"
          ></v-select>
        </v-flex>
        <v-flex xs12 md6 lg3 class="text-xs-center ma-0 py-1">
          <v-btn type="submit" block large color="success" class="chercher" align-center>Chercher</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
console.log();
export default {
  name: "searchmini",
  data() {
    return {
      date: null,
      place: null,
      categorie: null,
      categories: [
        "Toutes",
        "Artisanat d'art",
        "Art et spectacles",
        "Art et culture"
      ]
    };
  },
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    }
  },
  methods: {
    search() {
      console.log(this.place, this.date, this.categorie);
      this.$router.push(
        `/ateliers/?place=${this.place}&date=${this.date}&cat=${this.categorie}`
      );
    },
    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    }
  }
};
</script>

<style scoped>
.search-field {
  opacity: 0.9;
}

@media screen and (max-width: 961px) {
  .chercher {
    max-width: 50%;
    margin: 0 auto;
  }
}
</style>
